<div class="page-content-wrapper border">

    <!-- Title -->
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="h3 mb-0">List chef de projet</h1>
        </div>
    </div>

    <div class="row g-4 mb-4">
    
    </div> <!-- Row END -->
    
    <!-- All review table START -->
    <div class="card bg-transparent border">

        <!-- Card header START -->
       
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body pb-0">
            <!-- Table START -->
            <div class="table-responsive border-0">
                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th scope="col" class="border-0 rounded-start">Invoice ID</th>
                            <th scope="col" class="border-0">Course Name</th>
                            <th scope="col" class="border-0">Date</th>
                            <th scope="col" class="border-0">Payment Method</th>
                            <th scope="col" class="border-0">Amount</th>
                            <th scope="col" class="border-0">Status</th>
                            <th scope="col" class="border-0 rounded-end">Action</th>
                        </tr>
                    </thead>

                    <!-- Table body START -->
                    <tbody>
                    
                        <!-- Table row -->
                        <tr>
                            <!-- Table data -->
                            <td>#254684</td>

                            <!-- Table data -->
                            <td>
                                <h6 class="table-responsive-title mb-0"><a href="#">Create a Design System in Figma</a></h6>
                            </td>

                            <!-- Table data -->
                            <td>29 Aug 2021</td>

                            <!-- Table data -->
                            <td>
                                <img src="assets/images/client/mastercard.svg" class="h-50px" alt="">
                            </td>

                            <!-- Table data -->
                            <td>$3,999
                                <!-- Dropdown icon -->
                                <a href="#" class="h6 mb-0" role="button" id="dropdownShare1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-info-circle-fill"></i>
                                </a>
                                <!-- Dropdown items -->
                                <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare1">
                                    <li>
                                        <div class="d-flex justify-content-between">
                                            <span class="small">Commission</span>
                                            <span class="h6 mb-0 small">$86</span>
                                        </div>
                                        <hr class="my-1"> <!-- Divider -->
                                    </li>

                                    <li>
                                        <div class="d-flex justify-content-between">
                                            <span class="me-4 small">Us royalty withholding</span>
                                            <span class="text-danger small">-$0.00</span>
                                        </div>
                                        <hr class="my-1"> <!-- Divider -->
                                    </li>
                                    
                                    <li>
                                        <div class="d-flex justify-content-between">
                                            <span class="small">Earning</span>
                                            <span class="h6 mb-0 small">$86</span>
                                        </div>
                                    </li>
                                </ul>
                            </td>

                            <!-- Table data -->
                            <td>
                                <div class="badge bg-success bg-opacity-10 text-success">Paid</div>
                            </td>

                            <!-- Table data -->
                            <td>
                                <a href="#" class="btn btn-primary-soft btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Download" aria-label="Download">
                                    <i class="bi bi-download"></i>
                                </a>
                            </td>
                        </tr>

                        

                    </tbody>
                    <!-- Table body END -->
                </table>
            </div>
            <!-- Table END -->
        </div>
        <!-- Card body END -->

        <!-- Card footer START -->
        <div class="card-footer bg-transparent">
            <!-- Pagination START -->
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <!-- Content -->
                <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                    <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                        <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                        <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination END -->
        </div>
        <!-- Card footer END -->
    </div>
    <!-- All review table END -->
</div>
